/* 

.Abu_Dhabi
{
    font-family:monospace;
}

.Dubai
{
    font-family:monospace;
}

.Sharjah
{
    font-family:monospace;
}

.Ajman
{
    font-family:monospace;
}

.Ras_Al_Khaimah
{
    font-family:monospace;
}

.Fujairah
{
    font-family:monospace;
}

.Umm_Al_Quwain
{
    font-family:monospace;
} */

/* .style
{
    margin-left: 10px;
    font-family: monospace;
    font-size: 45px;
}

.bolding
{
    font-weight: bold;
}

.bolding1
{
    font-weight: bold;
}

.bolding2
{
    font-weight: bold;
}

.bolding3
{
    font-weight: bold;
} */

.answer_style
{
    font-size: 21px;
    font-family: monospace;
}